<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DataSource" value="DESKTOP-LHBOV29"/>
		<add key="Initial Catalog" value="prima"/>
		<add key="ParentTableName" value="SPONSORS"/>
		<add key="ChildTableName"  value="SPONSORSHIPS"/>
		<add key="RelationName" value="SPONSORSSPONSORSHIPS"/>
		<add key="RelationColumnFK" value="sponsor_id"/>
	</appSettings>
</configuration>